# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Additional output files
.amp_addrcache.o.cmd
.amp_skactg.o.cmd
.ampnetworkflow.ko.cmd
.ampnetworkflow.mod.o.cmd
.ampnetworkflow.o.cmd
.networkflow.o.cmd
.sockcallwatch_kprobe.o.cmd
.tmp_versions/
Module.symvers
ampnetworkflow.mod.c
common/src/.amp_log.o.cmd
modules.order

